@import '~bootstrap/dist/css/bootstrap.min.css';

.btn-search {
    background: #424242;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #1c1c1c;
  }
  .btn-search:link, .btn-search:visited {
    color: #fff;
  }
  .btn-search:active, .btn-search:hover {
    background: #1c1c1c;
    color: #fff;
    

  }
.btn-search
{
  font-size: 14px;
  font-weight:400;
}
  .form-control::placeholder
{
    font-size: 14px;
    font-weight:400;
    color:#95a5a6;
}

.form-control
{
    font-size: 14px;
    font-weight:500;
    color:#95a5a6;
}
